<html>

<head>
    <title><%= project.title %></title>
</head>

<body>
    <h1><%= project.title %></h1>
    <% for (let i = 0; i < todos.length; i++) { %>
        <div>
            <h3><%= todos[i].text %></h3>
            <div>
                <button><%= todos[i].is_completed === true ? "Not Done" : "Done"  %></button>
            </div>
        </div>
    <% } %>
 </body>

</html>